.container {
  width: 22%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  box-sizing: border-box;
}
.link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.cardLink {
  display: block;
  text-decoration: none;
  color: inherit;
}
.container {
  display: block; 
  text-decoration: none;
  color: inherit;
}




.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  margin-bottom: 10px;
}

.image {
  object-fit: cover;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #d1411e;
  margin: 10px 0 5px 0;
  text-align: center;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.desc {
  text-align: center;
  color: #777;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 24px;
  }

  .price,
  .desc {
    font-size: 18px;
  }
}
